In [3]:
import pandas as pd
import pprint
import csv
import numpy as np

## Convert excel to csv

In [4]:
# Read and store content
# of an excel file 
read_file = pd.read_excel('Reg_Alter Trade_wave04_2017_M1M2.xlsx', skiprows=1, sheet_name='Tableau_Total')
  
# Write the dataframe object
# into csv file
read_file.to_csv ("tableau_total.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_csv("tableau_total.csv"))
# show the dataframe
df.sample(5)

,Unnamed: 0,Unnamed: 1,LOCATION,Unnamed: 3,Unnamed: 4,Unnamed: 5,FARMER,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195
42,42,8,Negros Occidental,Murcia,Brgy. Pandanon Silos,Purok Paradahan,Jerry Baylosis,2,Baldevia Farm Workers Association (BAFWA),Female,...,Strong_trees_under_the_weeds,No_pruning,NaN,0.75,NaN,Enrichment\nReplanting\nSign posting\nSupport,NaN,http://mydoforms.appspot.com/imageViewer?blobK...,http://mydoforms.appspot.com/imageViewer?blobK...,http://mydoforms.appspot.com/imageViewer?blobK...
20,20,NaN,Negros Occidental,Bago City,Brgy. Ilijan,Purok Balatong,Jose Jardin,14,Ilijan Integrated Farmers Association (ILIFA),Male,...,Average_weeds_the_size_of_the_trees,No_pruning,NaN,1,NaN,No recommendations,NaN,NaN,NaN,NaN
16,16,43,Negros Occidental,La Castellana,Brgy. Mansalanao,Hda. Cambuktot,Enginita De Vera,41,United Farm Workers Association of Cambuktot (...,Female,...,No_weeds_or_little_trees_above_weeds,No_pruning,NaN,0.5,Trees are planted in an open field.,Replanting\nWatering/Irrigation,NaN,http://mydoforms.appspot.com/imageViewer?blobK...,http://mydoforms.appspot.com/imageViewer?blobK...,http://mydoforms.appspot.com/imageViewer?blobK...
32,32,20,Negros Occidental,Bago City,Brgy. Ilijan,Purok Talong,Ronilo Agustin,29,Nakalang - Perez Farm Workers Association (NAFWA),Male,...,Average_weeds_the_size_of_the_trees,No_pruning,NaN,1,NaN,Replanting,NaN,http://mydoforms.appspot.com/imageViewer?blobK...,http://mydoforms.appspot.com/imageViewer?blobK...,http://mydoforms.appspot.com/imageViewer?blobK...
53,35,NaN,Negros Occidental,Bago City,Brgy. Ilijan,Purok Talong,Eduardo Melliza,23,Nakalang - Perez Farm Workers Association (NAFWA),Male,...,Strong_trees_under_the_weeds,No_pruning,NaN,1,NaN,"Watering/Irrigation, Support",NaN,NaN,NaN,NaN

## Rearrange headers

In [5]:
"""
Function to spread list values left to right.
Used to deal with implict multiple headers.
["","value","","value2",""] ==> ["","value","value","value2","value2"]
"""
def spread_list(inlist):
    outlist = []
    curr = ""
    for item in inlist:
        if(not item.startswith('Unnamed')): # hit a new one, update
            curr = item.strip()
        outlist.append(curr) # append old or new item
    return outlist

In [6]:
with open('tableau_total.csv') as csvfile:

  # Must use csv.reader to get each row as a list.
  myCSVReader = csv.reader(csvfile, delimiter=",", quotechar='"')

  header1 = spread_list(next(myCSVReader))
  header2 = spread_list(next(myCSVReader))
  header3 = spread_list(next(myCSVReader))
  header4 = spread_list(next(myCSVReader))

print(len(header1))
print(len(header2))
print(len(header3))
print(len(header4))

header= [header1,header2,header3,header4]

196
196
196
196

In [7]:
xlsx = pd.ExcelFile('Reg_Alter Trade_wave04_2017_M1M2.xlsx')
dataframe_total = pd.read_excel(xlsx, sheet_name='Tableau_Total', header=None, skiprows=5)

dataframe_total.columns=header

dataframe_total.sample(5)

                                                                LOCATION  \
   Row in Raw data Mon 1 Row in raw data monitoring 2   Location level 1
             Translation                  Translation        Translation
       raw_data_row_mon1            raw_data_row_Mon2   Location_level_1
9                     12                           23  Negros Occidental
29                    32                           20  Negros Occidental
20                    23                           35  Negros Occidental
43                     3                           12  Negros Occidental
22                    25                           15  Negros Occidental

                                                                  FARMER  \
      Location level 2 Location level 3 Location level 4     Farmer name
           Translation      Translation      Translation     Translation
      Location_level_2 Location_level_3 Location_level_4     Farmer_name
9   Salvador Benedicto   Brgy. Pandanon   Purok Super L.  Erlinda Marcon
29           Bago City     Brgy. Ilijan     Purok Talong  Ronilo Agustin
20           Bago City     Brgy. Ilijan   Purok Balatong   Edwin Tamonan
43  Salvador Benedicto   Brgy. Pandanon   Purok Super L.  Ubaldo Ceralbo
22           Bago City     Brgy. Ilijan   Purok Balatong   Carlo Lapatan

                                                                   \
   Farmer code                                Farmer organisation
   Translation                                        Translation
   Farmer_code                                Farmer_organization
9           37  Pandanon Integrated Balangon Farmer Associatio...
29          29  Nakalang - Perez Farm Workers Association (NAFWA)
20          11      Ilijan Integrated Farmers Association (ILIFA)
43          40  Pandanon Integrated Balangon Farmer Associatio...
22           9      Ilijan Integrated Farmers Association (ILIFA)

                  ...                          Monitoring 2                    \
   Farmer gender  ...             Weed competition at mon 2  Pruning at mon 2
     Translation  ...                           Translation       Translation
   Farmer_gender  ...            Weed_competition_Monit2(1) Pruning_Monit2(1)
9         Female  ...  No_weeds_or_little_trees_above_weeds        No_pruning
29          Male  ...   Average_weeds_the_size_of_the_trees        No_pruning
20          Male  ...   Average_weeds_the_size_of_the_trees        No_pruning
43          Male  ...          Strong_trees_under_the_weeds        No_pruning
22          Male  ...  No_weeds_or_little_trees_above_weeds        No_pruning

                                                               \
    Pruning quality at mon 2 Average tree height (m) at mon 2
                 Translation                      Translation
   Pruning_quality_Monit2(1)    Average_tree_height_Monit2(1)
9                        NaN                                1
29                       NaN                                1
20                       NaN                             0.75
43                       NaN                                1
22                       NaN                                1

                                    \
             Observations at mon 2
                       Translation
   Observations_at_monitoring_2(1)
9                              NaN
29                             NaN
20                             NaN
43                             NaN
22                             NaN

                                                       \
                             Recommendations at mon 2
                                          Translation
                          Recommendations_at_mon_2(1)
9   Enrichment\nReplanting\nWatering/Irrigation\nS...
29                                         Replanting
20                    Enrichment\nReplanting\nSupport
43  Enrichment\nReplanting\nSign posting\nWatering...
22                  Enrichment\nSign posting\nSupport

                                    \
           Recommendations details
                       Translation
   Specify_recommendations_Mon2(1)
9                              NaN
29                             NaN
20                             NaN
43                             NaN
22                             NaN

                                                       \
                              Parcel picture at mon 2
                                          Translation
                            Picture_parcel_monit_2(1)
9   http://mydoforms.appspot.com/imageViewer?blobK...
29  http://mydoforms.appspot.com/imageViewer?blobK...
20  http://mydoforms.appspot.com/imageViewer?blobK...
43  http://mydoforms.appspot.com/imageViewer?blobK...
22  http://mydoforms.appspot.com/imageViewer?blobK...

                                                       \
                               Farmer signature mon 2
                                          Translation
                                Farmer_signature_Mon2
9   http://mydoforms.appspot.com/imageViewer?blobK...
29  http://mydoforms.appspot.com/imageViewer?blobK...
20  http://mydoforms.appspot.com/imageViewer?blobK...
43  http://mydoforms.appspot.com/imageViewer?blobK...
22  http://mydoforms.appspot.com/imageViewer?blobK...


                           Technician signature mon 2
                                          Translation
                         Technician_signature_Mon2(1)
9   http://mydoforms.appspot.com/imageViewer?blobK...
29  http://mydoforms.appspot.com/imageViewer?blobK...
20  http://mydoforms.appspot.com/imageViewer?blobK...
43  http://mydoforms.appspot.com/imageViewer?blobK...
22  http://mydoforms.appspot.com/imageViewer?blobK...

[5 rows x 196 columns]

In [8]:
dataframe_total.tail(5)

                                                                LOCATION  \
   Row in Raw data Mon 1 Row in raw data monitoring 2   Location level 1
             Translation                  Translation        Translation
       raw_data_row_mon1            raw_data_row_Mon2   Location_level_1
51                    42                            8  Negros Occidental
52                    42                            8  Negros Occidental
53                   END                          END                END
54                   NaN                          NaN                NaN
55                   NaN                          NaN                NaN

                                                                    FARMER  \
   Location level 2      Location level 3 Location level 4     Farmer name
        Translation           Translation      Translation     Translation
   Location_level_2      Location_level_3 Location_level_4     Farmer_name
51           Murcia  Brgy. Pandanon Silos  Purok Paradahan  Jerry Baylosis
52           Murcia  Brgy. Pandanon Silos  Purok Paradahan  Jerry Baylosis
53              END                   END              END             END
54              NaN                   NaN              NaN             NaN
55              NaN                   NaN              NaN             NaN

                                                                         ...  \
   Farmer code                        Farmer organisation Farmer gender  ...
   Translation                                Translation   Translation  ...
   Farmer_code                        Farmer_organization Farmer_gender  ...
51           2  Baldevia Farm Workers Association (BAFWA)        Female  ...
52           2  Baldevia Farm Workers Association (BAFWA)        Female  ...
53         END                                        END           END  ...
54         NaN                                        NaN           NaN  ...
55         NaN                                        NaN           NaN  ...

                           Monitoring 2                    \
              Weed competition at mon 2  Pruning at mon 2
                            Translation       Translation
             Weed_competition_Monit2(1) Pruning_Monit2(1)
51         Strong_trees_under_the_weeds               NaN
52  Average_weeds_the_size_of_the_trees        No_pruning
53                                  END               END
54                                  NaN               NaN
55                                  NaN               NaN

                                                               \
    Pruning quality at mon 2 Average tree height (m) at mon 2
                 Translation                      Translation
   Pruning_quality_Monit2(1)    Average_tree_height_Monit2(1)
51                       NaN                              NaN
52                       NaN                             0.75
53                       END                              END
54                       NaN                              NaN
55                       NaN                              NaN

                                    \
             Observations at mon 2
                       Translation
   Observations_at_monitoring_2(1)
51                             NaN
52                             NaN
53                             END
54                             NaN
55                             NaN

                                                       \
                             Recommendations at mon 2
                                          Translation
                          Recommendations_at_mon_2(1)
51  Enrichment\nReplanting\nSign posting\nWatering...
52  Enrichment\nReplanting\nWatering/Irrigation\nS...
53                                                END
54                                                NaN
55                                                NaN

                                    \
           Recommendations details
                       Translation
   Specify_recommendations_Mon2(1)
51                             NaN
52                             NaN
53                             END
54                             NaN
55                             NaN

                                                       \
                              Parcel picture at mon 2
                                          Translation
                            Picture_parcel_monit_2(1)
51  http://mydoforms.appspot.com/imageViewer?blobK...
52  http://mydoforms.appspot.com/imageViewer?blobK...
53                                                END
54                                                NaN
55                                                NaN

                                                       \
                               Farmer signature mon 2
                                          Translation
                                Farmer_signature_Mon2
51  http://mydoforms.appspot.com/imageViewer?blobK...
52  http://mydoforms.appspot.com/imageViewer?blobK...
53                                                END
54                                                NaN
55                                                NaN


                           Technician signature mon 2
                                          Translation
                         Technician_signature_Mon2(1)
51  http://mydoforms.appspot.com/imageViewer?blobK...
52  http://mydoforms.appspot.com/imageViewer?blobK...
53                                                END
54                                                NaN
55                                                NaN

[5 rows x 196 columns]

### Clean last rows

In [81]:
def drop_last_rows(df):
    df_with_no_end_delimiter=df
    nb_unique_values_per_row=df.nunique(axis=1)
    rows_with_single_value=nb_unique_values_per_row[nb_unique_values_per_row == 1].index.tolist() #rÃ©cupÃ©rer les index des lignes ou il y'a une seul et unique valeur (END)
    if (len(rows_with_single_value) != 0):
        end_of_dataframe=rows_with_single_value[0] # rÃ©cupÃ©rer la premiere qui ne contient qu'une seule valeur (END)
        df_with_no_end_delimiter = df[0:end_of_dataframe]
    return df_with_no_end_delimiter

In [80]:
dataframe_total_cleaned=drop_last_rows(dataframe_total)
dataframe_total_cleaned.tail(5)

                                                                LOCATION  \
   Row in Raw data Mon 1 Row in raw data monitoring 2   Location level 1
             Translation                  Translation        Translation
       raw_data_row_mon1            raw_data_row_Mon2   Location_level_1
48                    32                           20  Negros Occidental
49                    33                           24  Negros Occidental
50                    35                          NaN  Negros Occidental
51                    42                            8  Negros Occidental
52                    42                            8  Negros Occidental

                                                                      FARMER  \
   Location level 2      Location level 3 Location level 4       Farmer name
        Translation           Translation      Translation       Translation
   Location_level_2      Location_level_3 Location_level_4       Farmer_name
48        Bago City          Brgy. Ilijan     Purok Talong    Ronilo Agustin
49        Bago City          Brgy. Ilijan     Purok Talong  Dionesio Sanchez
50        Bago City          Brgy. Ilijan     Purok Talong   Eduardo Melliza
51           Murcia  Brgy. Pandanon Silos  Purok Paradahan    Jerry Baylosis
52           Murcia  Brgy. Pandanon Silos  Purok Paradahan    Jerry Baylosis

                                                                   \
   Farmer code                                Farmer organisation
   Translation                                        Translation
   Farmer_code                                Farmer_organization
48          29  Nakalang - Perez Farm Workers Association (NAFWA)
49          22  Nakalang - Perez Farm Workers Association (NAFWA)
50          23  Nakalang - Perez Farm Workers Association (NAFWA)
51           2          Baldevia Farm Workers Association (BAFWA)
52           2          Baldevia Farm Workers Association (BAFWA)

                  ...                         Monitoring 2                    \
   Farmer gender  ...            Weed competition at mon 2  Pruning at mon 2
     Translation  ...                          Translation       Translation
   Farmer_gender  ...           Weed_competition_Monit2(1) Pruning_Monit2(1)
48          Male  ...  Average_weeds_the_size_of_the_trees        No_pruning
49          Male  ...  Average_weeds_the_size_of_the_trees               NaN
50          Male  ...         Strong_trees_under_the_weeds        No_pruning
51        Female  ...         Strong_trees_under_the_weeds               NaN
52        Female  ...  Average_weeds_the_size_of_the_trees        No_pruning

                                                               \
    Pruning quality at mon 2 Average tree height (m) at mon 2
                 Translation                      Translation
   Pruning_quality_Monit2(1)    Average_tree_height_Monit2(1)
48                       NaN                                1
49                       NaN                                5
50                       NaN                                1
51                       NaN                              NaN
52                       NaN                             0.75

                                    \
             Observations at mon 2
                       Translation
   Observations_at_monitoring_2(1)
48                             NaN
49                             NaN
50                             NaN
51                             NaN
52                             NaN

                                                       \
                             Recommendations at mon 2
                                          Translation
                          Recommendations_at_mon_2(1)
48                    Replanting\nWatering/Irrigation
49                                 No recommendations
50                       Watering/Irrigation, Support
51  Enrichment\nReplanting\nSign posting\nWatering...
52  Enrichment\nReplanting\nWatering/Irrigation\nS...

                                    \
           Recommendations details
                       Translation
   Specify_recommendations_Mon2(1)
48                             NaN
49                             NaN
50                             NaN
51                             NaN
52                             NaN

                                                       \
                              Parcel picture at mon 2
                                          Translation
                            Picture_parcel_monit_2(1)
48  http://mydoforms.appspot.com/imageViewer?blobK...
49  http://mydoforms.appspot.com/imageViewer?blobK...
50                                                NaN
51  http://mydoforms.appspot.com/imageViewer?blobK...
52  http://mydoforms.appspot.com/imageViewer?blobK...

                                                       \
                               Farmer signature mon 2
                                          Translation
                                Farmer_signature_Mon2
48  http://mydoforms.appspot.com/imageViewer?blobK...
49  http://mydoforms.appspot.com/imageViewer?blobK...
50                                                NaN
51  http://mydoforms.appspot.com/imageViewer?blobK...
52  http://mydoforms.appspot.com/imageViewer?blobK...


                           Technician signature mon 2
                                          Translation
                         Technician_signature_Mon2(1)
48  http://mydoforms.appspot.com/imageViewer?blobK...
49  http://mydoforms.appspot.com/imageViewer?blobK...
50                                                NaN
51  http://mydoforms.appspot.com/imageViewer?blobK...
52  http://mydoforms.appspot.com/imageViewer?blobK...

[5 rows x 196 columns]

### Add id column

In [11]:
#dataframe_total_cleaned.insert(0, "id", range(1,len(dataframe_total_cleaned)+1))
dataframe_total_cleaned["","id","id","id"]=range(1,len(dataframe_total_cleaned)+1)

C:\Users\mhammouti\AppData\Local\Temp\ipykernel_17672\131192659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe_total_cleaned["","id","id","id"]=range(1,len(dataframe_total_cleaned)+1)

In [12]:
cols = list(dataframe_total_cleaned.columns)
cols = [cols[-1]] + cols[:-1] # make id column the first column

In [13]:
cols

[('', 'id', 'id', 'id'),
 ('', 'Row in Raw data Mon 1', 'Translation', 'raw_data_row_mon1'),
 ('', 'Row in raw data monitoring 2', 'Translation', 'raw_data_row_Mon2'),
 ('LOCATION', 'Location level 1', 'Translation', 'Location_level_1'),
 ('LOCATION', 'Location level 2', 'Translation', 'Location_level_2'),
 ('LOCATION', 'Location level 3', 'Translation', 'Location_level_3'),
 ('LOCATION', 'Location level 4', 'Translation', 'Location_level_4'),
 ('FARMER', 'Farmer name', 'Translation', 'Farmer_name'),
 ('FARMER', 'Farmer code', 'Translation', 'Farmer_code'),
 ('FARMER', 'Farmer organisation', 'Translation', 'Farmer_organization'),
 ('FARMER', 'Farmer gender', 'Translation', 'Farmer_gender'),
 ('FARMER',
  'Farmer experience in agroforestry',
  'Translation',
  'Farmer_experience'),
 ('FARMER', 'Farmer picture code', 'Translation', 'Picture_file_name'),
 ('FARMER',
  'Farmer contact information',
  'Translation',
  'Farmer_contact_information'),
 ('FARMER',
  'Number of parcels',
  'Translation',
  'Number_parcels_preregistered'),
 ('FARMER', 'Total area of land', 'Translation', 'Total_farmer_land_area_ha'),
 ('FARMER',
  'Pre registred trees',
  'Translation',
  'Number_trees_preregistered_far'),
 ('FARMER', 'Delivered trees', 'Translation', 'Number_trees_distributed'),
 ('PARCEL', 'Parcel number', 'Translation', 'Parcel_number(1)'),
 ('PARCEL', 'Parcel code', 'Translation', 'Open_Backcountry(1)'),
 ('PARCEL', 'Date of registry', 'Translation', 'Date_of_Visit(1)'),
 ('PARCEL', 'Planting wave', 'Translation', 'Planting_wave(1)'),
 ('PARCEL', 'Land tenure', 'Translation', 'Land_Tenure(1)'),
 ('PARCEL', 'Land tenure details', 'Translation', 'Specify_land_tenure(1)'),
 ('PARCEL', 'Legal document picture', 'Translation', ''),
 ('PARCEL',
  'Land use before planting',
  'Translation',
  'Land_use_before_planting(1)'),
 ('PARCEL', 'Specify land use', 'Translation', 'Specify_land_use(1)'),
 ('PARCEL', 'Land use in 2016', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2016', 'Translation', ''),
 ('PARCEL', 'Land use in 2015', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2015', 'Translation', ''),
 ('PARCEL', 'Land use in 2014', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2014', 'Translation', ''),
 ('PARCEL', 'Land use in 2013', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2013', 'Translation', ''),
 ('PARCEL', 'Land use in 2012', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2012', 'Translation', ''),
 ('PARCEL', 'Land use in 2011', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2011', 'Translation', ''),
 ('PARCEL', 'Land use in 2010', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2010', 'Translation', ''),
 ('PARCEL', 'Land use in 2009', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2009', 'Translation', ''),
 ('PARCEL', 'Land use in 2008', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2008', 'Translation', ''),
 ('PARCEL', 'Land use in 2007', 'Translation', ''),
 ('PARCEL', 'Reason to change Land use in 2007', 'Translation', ''),
 ('PARCEL', 'Farming practices', 'Translation', 'Farming_mode(1)'),
 ('PARCEL',
  'Details on farming practices',
  'Translation',
  'Farming_mode_specify(1)'),
 ('PARCEL', 'Average production (kg/ha)', 'Translation', ''),
 ('PARCEL', 'Aim', 'Translation', 'Aim(1)'),
 ('PARCEL', 'GPS track name', 'Translation', 'Name_GPS_track(1)'),
 ('PARCEL', 'GPS accuracy (m)', 'Translation', 'GPS_location(1) Accuracy'),
 ('PARCEL', 'Parcel latitude (m)', 'Translation', 'GPS_location(1) Latitude'),
 ('PARCEL',
  'Parcel longitude (m)',
  'Translation',
  'GPS_location(1) Longitude'),
 ('PARCEL',
  'Parcel altitude (masl)',
  'Translation',
  'GPS_location(1) Altitude'),
 ('PARCEL', 'Planting model', 'Translation', 'Planting_model(1)'),
 ('PARCEL',
  'Planted perimeter (m)',
  'Translation',
  'Distance_planted_in_line_meter(1)'),
 ('PARCEL', 'Planted area (ha)', 'Translation', 'Planted_area_ha(1)'),
 ('PARCEL',
  'Comments on inconsistency between land-use and model',
  'Translation',
  'Warning_land_use_model_incoher(1)'),
 ('ACTUAL VEGETATION',
  'Existing tree cover',
  'Translation',
  'Existing_tree_cover_before_pla(1)'),
 ('ACTUAL VEGETATION',
  'Tree cover %',
  'Translation',
  'Tree_cover_percentage_before(1)'),
 ('ACTUAL VEGETATION', 'Parcel average tree height (m)', 'Translation', ''),
 ('ACTUAL VEGETATION',
  'Main tree species existing before planting',
  'Translation',
  'Main_tree_species_before(1)'),
 ('ACTUAL VEGETATION',
  'Are existing trees natural or planted ?',
  'Translation',
  'Natural_or_planted(1)'),
 ('GEOGRAPHICAL TOPOLOGY', 'Slope', 'Translation', 'Slope(1)'),
 ('GEOGRAPHICAL TOPOLOGY', 'Erosion level', 'Translation', 'Erosion_level(1)'),
 ('GEOGRAPHICAL TOPOLOGY',
  'Presence of water bodies < 15m',
  'Translation',
  'Presence_of_water_bodies(1)'),
 ('COMMENTS', 'Risk', 'Translation', 'Risks_to_trees_survival(1)'),
 ('COMMENTS', 'Risk details', 'Translation', 'Specify_other_risk(1)'),
 ('COMMENTS',
  'Comments on parcel description',
  'Translation',
  'Comments_on_the_parcel_descrip(1)'),
 ('PLANTATION',
  'Plantation or Delivery date',
  'Translation',
  'Date_of_Planting(1)'),
 ('PLANTATION', 'Soursup', 'Translation', 'Planted_species_1(1,1)'),
 ('PLANTATION', 'Jackfruit', 'Translation', 'Planted_species_2(1,1)'),
 ('PLANTATION', 'Rambutan', 'Translation', 'Planted_species_3(1,1)'),
 ('PLANTATION', 'Bakan', 'Translation', 'Planted_species_4(1,1)'),
 ('PLANTATION', 'Durian', 'Translation', 'Planted_species_5(1,1)'),
 ('PLANTATION', 'Lanzones', 'Translation', 'Planted_species_6(1,1)'),
 ('PLANTATION', 'Arbol', 'Translation', 'Planted_species_7(1,1)'),
 ('PLANTATION', 'Acacia Mangium', 'Translation', 'Planted_species_8(1,1)'),
 ('PLANTATION', 'Bangkal', 'Translation', 'Planted_species_9(1,1)'),
 ('PLANTATION', 'Tapuyi', 'Translation', 'Planted_species_10(1,1)'),
 ('PLANTATION', 'Udling', 'Translation', 'Planted_species_11(1,1)'),
 ('PLANTATION', 'Apple Guava', 'Translation', 'Planted_species_12(1,1)'),
 ('PLANTATION', 'Abiu', 'Translation', 'Planted_species_13(1,1)'),
 ('PLANTATION', 'Total planted trees', 'Translation', ''),
 ('PLANTATION', 'Tree spacing (m)', 'Translation', ''),
 ('PLANTATION',
  'Comments on spacing of trees',
  'Translation',
  'Warning_extr_spacing_planting(1)'),
 ('PLANTATION', 'Density (trees/ha)', 'Translation', ''),
 ('PLANTATION',
  'Comments on density',
  'Translation',
  'Warning_extr_density_model(1)'),
 ('PLANTATION',
  'Comments on planting density',
  'Translation',
  'Comments_on_plantation_density(1)'),
 ('PLANTATION',
  'Is the model respected?',
  'Translation',
  'Planting_model_respected(1)'),
 ('PLANTATION',
  'Specify differences',
  'Translation',
  'Specify_differences_with_model(1)'),
 ('PLANTATION',
  'Picture of parcel',
  'Translation',
  'Picture_of_the_planted_parcel(1)'),
 ('PLANTATION',
  'Comments on planting',
  'Translation',
  'Comments_on_plantation(1)'),
 ('Monitoring 1',
  'Date monitoring 1',
  'Translation',
  'Date_of_Monitoring_1(1)'),
 ('Monitoring 1',
  'Technician name',
  'Translation',
  'Technician_name_parcel(1)'),
 ('Monitoring 1', 'Soursup', 'Translation', 'Replanted_species_1(1,1)'),
 ('Monitoring 1', 'Jackfruit', 'Translation', 'Replanted_species_2(1,1)'),
 ('Monitoring 1', 'Rambutan', 'Translation', 'Replanted_species_3(1,1)'),
 ('Monitoring 1', 'Bakan', 'Translation', 'Replanted_species_4(1,1)'),
 ('Monitoring 1', 'Durian', 'Translation', 'Replanted_species_5(1,1)'),
 ('Monitoring 1', 'Lanzones', 'Translation', 'Replanted_species_6(1,1)'),
 ('Monitoring 1', 'Arbol', 'Translation', 'Replanted_species_7(1,1)'),
 ('Monitoring 1', 'Acacia Mangium', 'Translation', 'Replanted_species_8(1,1)'),
 ('Monitoring 1', 'Bangkal', 'Translation', 'Replanted_species_9(1,1)'),
 ('Monitoring 1', 'Tapuyi', 'Translation', 'Replanted_species_10(1,1)'),
 ('Monitoring 1', 'Udling', 'Translation', 'Replanted_species_11(1,1)'),
 ('Monitoring 1', 'Apple Guava', 'Translation', 'Replanted_species_12(1,1)'),
 ('Monitoring 1', 'Abiu', 'Translation', 'Replanted_species_13(1,1)'),
 ('Monitoring 1', 'Soursup', 'Translation', 'Monitoring_1_species_1(1,1)'),
 ('Monitoring 1', 'Jackfruit', 'Translation', 'Monitoring_1_species_2(1,1)'),
 ('Monitoring 1', 'Rambutan', 'Translation', 'Monitoring_1_species_3(1,1)'),
 ('Monitoring 1', 'Bakan', 'Translation', 'Monitoring_1_species_4(1,1)'),
 ('Monitoring 1', 'Durian', 'Translation', 'Monitoring_1_species_5(1,1)'),
 ('Monitoring 1', 'Lanzones', 'Translation', 'Monitoring_1_species_6(1,1)'),
 ('Monitoring 1', 'Arbol', 'Translation', 'Monitoring_1_species_7(1,1)'),
 ('Monitoring 1',
  'Acacia Mangium',
  'Translation',
  'Monitoring_1_species_8(1,1)'),
 ('Monitoring 1', 'Bangkal', 'Translation', 'Monitoring_1_species_9(1,1)'),
 ('Monitoring 1', 'Tapuyi', 'Translation', 'Monitoring_1_species_10(1,1)'),
 ('Monitoring 1', 'Udling', 'Translation', 'Monitoring_1_species_11(1,1)'),
 ('Monitoring 1',
  'Apple Guava',
  'Translation',
  'Monitoring_1_species_12(1,1)'),
 ('Monitoring 1', 'Abiu', 'Translation', 'Monitoring_1_species_13(1,1)'),
 ('Monitoring 1', 'Total replanted trees at mon 1', 'Translation', ''),
 ('Monitoring 1', 'Total living trees at mon 1', 'Translation', ''),
 ('Monitoring 1',
  'Comments on the number of living trees at mon 1',
  'Translation',
  'Comments_on_living_trees_at_mo(1)'),
 ('Monitoring 1', 'Mortality rate at mon 1', 'Translation', ''),
 ('Monitoring 1',
  'Comments on mortality rate at mon 1',
  'Translation',
  'Warning_High_mortality_Mon1(1)'),
 ('Monitoring 1',
  'Mortality cause at mon 1',
  'Translation',
  'Mortality_Causes_Monitoring_1(1)'),
 ('Monitoring 1',
  'Mortality causes details at mon 1',
  'Translation',
  'Specify_mortality_cause_Mon1(1)'),
 ('Monitoring 1',
  'Average spacing of trees in line at mon 1 (m)',
  'Translation',
  ''),
 ('Monitoring 1',
  'Comments on spacing at mon 1',
  'Translation',
  'Warning_extreme_spac_Mon1(1)'),
 ('Monitoring 1', 'Average density at mon 1 (trees/ha)', 'Translation', ''),
 ('Monitoring 1',
  'Comments on density at mon 1',
  'Translation',
  'Warning_extr_dens_Mon1(1)'),
 ('Monitoring 1',
  'Maintenance at mon 1',
  'Translation',
  'Maintenance_Monitoring_1(1)'),
 ('Monitoring 1',
  'Weed competition at mon 1',
  'Translation',
  'Weed_competition_Monit1(1)'),
 ('Monitoring 1', 'Pruning at mon 1', 'Translation', 'Pruning_Monit1(1)'),
 ('Monitoring 1',
  'Pruning quality at mon 1',
  'Translation',
  'Pruning_quality_Monit1(1)'),
 ('Monitoring 1',
  'Average tree height (m) at mon 1',
  'Translation',
  'Average_tree_height_Monit1(1)'),
 ('Monitoring 1',
  'Observations at mon 1',
  'Translation',
  'Observations_at_monitoring_1(1)'),
 ('Monitoring 1',
  'Recommendations at mon 1',
  'Translation',
  'Recommendations_at_mon_1(1)'),
 ('Monitoring 1',
  'Recommendations details',
  'Translation',
  'Specify_recommendations_Mon1(1)'),
 ('Monitoring 1',
  'Parcel picture at mon 1',
  'Translation',
  'Picture_parcel_monit_1(1)'),
 ('Monitoring 1',
  'Overall comments and recommendations',
  'Translation',
  'Overall_comments'),
 ('Monitoring 1', 'Farmer signature mon 1', 'Translation', 'Farmer_signature'),
 ('Monitoring 1',
  'Technician signature mon 1',
  'Translation',
  'Interviewer_signature'),
 ('Monitoring 2', 'Date Monitoring 2', 'Translation', 'Monitoring_2_date(1)'),
 ('Monitoring 2',
  'Technician name',
  'Translation',
  'Technician_name_parcel(1)'),
 ('Monitoring 2', 'Soursup', 'Translation', 'Replanted_M2_species_1(1,1)'),
 ('Monitoring 2', 'Jackfruit', 'Translation', 'Replanted_M2_species_2(1,1)'),
 ('Monitoring 2', 'Rambutan', 'Translation', 'Replanted_M2_species_3(1,1)'),
 ('Monitoring 2', 'Bakan', 'Translation', 'Replanted_M2_species_4(1,1)'),
 ('Monitoring 2', 'Durian', 'Translation', 'Replanted_M2_species_5(1,1)'),
 ('Monitoring 2', 'Lanzones', 'Translation', 'Replanted_M2_species_6(1,1)'),
 ('Monitoring 2', 'Arbol', 'Translation', 'Replanted_M2_species_7(1,1)'),
 ('Monitoring 2',
  'Acacia Mangium',
  'Translation',
  'Replanted_M2_species_8(1,1)'),
 ('Monitoring 2', 'Bangkal', 'Translation', 'Replanted_M2_species_9(1,1)'),
 ('Monitoring 2', 'Tapuyi', 'Translation', 'Replanted_M2_species_10(1,1)'),
 ('Monitoring 2', 'Udling', 'Translation', 'Replanted_M2_species_11(1,1)'),
 ('Monitoring 2',
  'Apple Guava',
  'Translation',
  'Replanted_M2_species_12(1,1)'),
 ('Monitoring 2', 'Abiu', 'Translation', 'Replanted_M2_species_13(1,1)'),
 ('Monitoring 2', 'Soursup', 'Translation', 'Monitoring_2_species_1(1,1)'),
 ('Monitoring 2', 'Jackfruit', 'Translation', 'Monitoring_2_species_2(1,1)'),
 ('Monitoring 2', 'Rambutan', 'Translation', 'Monitoring_2_species_3(1,1)'),
 ('Monitoring 2', 'Bakan', 'Translation', 'Monitoring_2_species_4(1,1)'),
 ('Monitoring 2', 'Durian', 'Translation', 'Monitoring_2_species_5(1,1)'),
 ('Monitoring 2', 'Lanzones', 'Translation', 'Monitoring_2_species_6(1,1)'),
 ('Monitoring 2', 'Arbol', 'Translation', 'Monitoring_2_species_7(1,1)'),
 ('Monitoring 2',
  'Acacia Mangium',
  'Translation',
  'Monitoring_2_species_8(1,1)'),
 ('Monitoring 2', 'Bangkal', 'Translation', 'Monitoring_2_species_9(1,1)'),
 ('Monitoring 2', 'Tapuyi', 'Translation', 'Monitoring_2_species_10(1,1)'),
 ('Monitoring 2', 'Udling', 'Translation', 'Monitoring_2_species_11(1,1)'),
 ('Monitoring 2',
  'Apple Guava',
  'Translation',
  'Monitoring_2_species_12(1,1)'),
 ('Monitoring 2', 'Abiu', 'Translation', 'Monitoring_2_species_13(1,1)'),
 ('Monitoring 2', 'Total replanted trees at mon 2', 'Translation', ''),
 ('Monitoring 2', 'Total living trees at mon 2', 'Translation', ''),
 ('Monitoring 2',
  'Comments on the number of living trees at mon 2',
  'Translation',
  'Comments_on_living_trees(1)'),
 ('Monitoring 2', 'Mortality rate at mon 2', 'Translation', ''),
 ('Monitoring 2',
  'Comments on mortality rate at mon 2',
  'Translation',
  'Comments_on_mortality(1)'),
 ('Monitoring 2',
  'Comments on high mortality',
  'Translation',
  'Warning_High_mortality_Mon2(1)'),
 ('Monitoring 2',
  'Mortality cause at mon 2',
  'Translation',
  'Mortality_Causes_Monitoring_2(1)'),
 ('Monitoring 2',
  'Mortality causes details at mon 2',
  'Translation',
  'Specify_mortality_cause_Mon2(1)'),
 ('Monitoring 2',
  'Average spacing of trees in line at mon 2 (m)',
  'Translation',
  ''),
 ('Monitoring 2', 'Comments on spacing at mon 2', 'Translation', ''),
 ('Monitoring 2', 'Average density at mon 2 (trees/ha)', 'Translation', ''),
 ('Monitoring 2', 'Comments on density at mon 2', 'Translation', ''),
 ('Monitoring 2',
  'Maintenance at mon 2',
  'Translation',
  'Maintenance_Monitoring_2(1)'),
 ('Monitoring 2',
  'Weed competition at mon 2',
  'Translation',
  'Weed_competition_Monit2(1)'),
 ('Monitoring 2', 'Pruning at mon 2', 'Translation', 'Pruning_Monit2(1)'),
 ('Monitoring 2',
  'Pruning quality at mon 2',
  'Translation',
  'Pruning_quality_Monit2(1)'),
 ('Monitoring 2',
  'Average tree height (m) at mon 2',
  'Translation',
  'Average_tree_height_Monit2(1)'),
 ('Monitoring 2',
  'Observations at mon 2',
  'Translation',
  'Observations_at_monitoring_2(1)'),
 ('Monitoring 2',
  'Recommendations at mon 2',
  'Translation',
  'Recommendations_at_mon_2(1)'),
 ('Monitoring 2',
  'Recommendations details',
  'Translation',
  'Specify_recommendations_Mon2(1)'),
 ('Monitoring 2',
  'Parcel picture at mon 2',
  'Translation',
  'Picture_parcel_monit_2(1)'),
 ('Monitoring 2',
  'Farmer signature mon 2',
  'Translation',
  'Farmer_signature_Mon2'),
 ('Monitoring 2',
  'Technician signature mon 2',
  'Translation',
  'Technician_signature_Mon2(1)')]

In [14]:
dataframe_total_cleaned = dataframe_total_cleaned[cols]

In [15]:
dataframe_total_cleaned.head(5)

                                                                  LOCATION  \
  id Row in Raw data Mon 1 Row in raw data monitoring 2   Location level 1
  id           Translation                  Translation        Translation
  id     raw_data_row_mon1            raw_data_row_Mon2   Location_level_1
0  1                     3                           12  Negros Occidental
1  2                     4                          NaN  Negros Occidental
2  3                     5                            7  Negros Occidental
3  4                     6                           27  Negros Occidental
4  5                     7                           18  Negros Occidental

                                                              \
     Location level 2      Location level 3 Location level 4
          Translation           Translation      Translation
     Location_level_2      Location_level_3 Location_level_4
0  Salvador Benedicto        Brgy. Pandanon   Purok Super L.
1  Salvador Benedicto        Brgy. Pandanon   Purok Super L.
2  Salvador Benedicto  Brgy. Pandanon Silos   Purok Super L.
3  Salvador Benedicto  Brgy. Pandanon Silos   Purok Super L.
4           Bago City          Brgy. Ilijan     Purok Talong

             FARMER              \
        Farmer name Farmer code
        Translation Translation
        Farmer_name Farmer_code
0    Ubaldo Ceralbo          40
1  Marlyn Belegorio          39
2   Agnes Belegorio          31
3    Elezer Magapan          36
4   Vicente Canaway          30

                                                      ...  \
                                 Farmer organisation  ...
                                         Translation  ...
                                 Farmer_organization  ...
0  Pandanon Integrated Balangon Farmer Associatio...  ...
1  Pandanon Integrated Balangon Farmer Associatio...  ...
2  Pandanon Integrated Balangon Farmer Associatio...  ...
3  Pandanon Integrated Balangon Farmer Associatio...  ...
4  Nakalang - Perez Farm Workers Association (NAFWA)  ...

                           Monitoring 2                    \
              Weed competition at mon 2  Pruning at mon 2
                            Translation       Translation
             Weed_competition_Monit2(1) Pruning_Monit2(1)
0          Strong_trees_under_the_weeds        No_pruning
1          Strong_trees_under_the_weeds        No_pruning
2   Average_weeds_the_size_of_the_trees        No_pruning
3  No_weeds_or_little_trees_above_weeds        No_pruning
4   Average_weeds_the_size_of_the_trees        No_pruning

                                                              \
   Pruning quality at mon 2 Average tree height (m) at mon 2
                Translation                      Translation
  Pruning_quality_Monit2(1)    Average_tree_height_Monit2(1)
0                       NaN                              0.5
1                       NaN                                1
2                       NaN                              NaN
3                       NaN                                1
4                       NaN                                5

                                   \
            Observations at mon 2
                      Translation
  Observations_at_monitoring_2(1)
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN

                                                      \
                            Recommendations at mon 2
                                         Translation
                         Recommendations_at_mon_2(1)
0  Enrichment\nReplanting\nSign posting\nWatering...
1                                Watering/Irrigation
2  Enrichment\nReplanting\nSign posting\nWatering...
3  Enrichment\nReplanting\nWatering/Irrigation\nS...
4                    Enrichment\nReplanting\nSupport

                                   \
          Recommendations details
                      Translation
  Specify_recommendations_Mon2(1)
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN

                                                      \
                             Parcel picture at mon 2
                                         Translation
                           Picture_parcel_monit_2(1)
0  http://mydoforms.appspot.com/imageViewer?blobK...
1                                                NaN
2  http://mydoforms.appspot.com/imageViewer?blobK...
3  http://mydoforms.appspot.com/imageViewer?blobK...
4  http://mydoforms.appspot.com/imageViewer?blobK...

                                                      \
                              Farmer signature mon 2
                                         Translation
                               Farmer_signature_Mon2
0  http://mydoforms.appspot.com/imageViewer?blobK...
1                                                NaN
2  http://mydoforms.appspot.com/imageViewer?blobK...
3  http://mydoforms.appspot.com/imageViewer?blobK...
4  http://mydoforms.appspot.com/imageViewer?blobK...


                          Technician signature mon 2
                                         Translation
                        Technician_signature_Mon2(1)
0  http://mydoforms.appspot.com/imageViewer?blobK...
1                                                NaN
2  http://mydoforms.appspot.com/imageViewer?blobK...
3  http://mydoforms.appspot.com/imageViewer?blobK...
4  http://mydoforms.appspot.com/imageViewer?blobK...

[5 rows x 197 columns]

## Extract Species

### Extract three first columns

In [16]:
first_three_columns=dataframe_total_cleaned.iloc[:, : 3]
first_three_columns.columns = first_three_columns.columns.droplevel(0) # drop level with no header
first_three_columns.head()

  id Row in Raw data Mon 1 Row in raw data monitoring 2
  id           Translation                  Translation
  id     raw_data_row_mon1            raw_data_row_Mon2
0  1                     3                           12
1  2                     4                          NaN
2  3                     5                            7
3  4                     6                           27
4  5                     7                           18

In [17]:
def concatenate_id_and_species(id_and_raw_data, species_df):
    id_and_species=pd.concat([id_and_raw_data, species_df], axis=1)
    id_and_species.columns = id_and_species.columns.droplevel(1) # supprimer la ligne header translation 
    return id_and_species

### Extract planted species

In [18]:
def get_planted_species(df):
    index_begin_plantation=dataframe_total_cleaned.columns.get_loc(('PLANTATION', 'Plantation or Delivery date', "Translation", "Date_of_Planting(1)"))
    index_end_plantation=dataframe_total_cleaned.columns.get_loc(('PLANTATION', 'Total planted trees', "Translation", ""))
    df_plantation = dataframe_total_cleaned.iloc[:, index_begin_plantation+1:index_end_plantation]
    df_plantation.columns = df_plantation.columns.droplevel(0)
    return df_plantation

In [19]:
planted_species=get_planted_species(dataframe_total_cleaned)
planted_species.head()

,Soursup,Jackfruit,Rambutan,Bakan,Durian,Lanzones,Arbol,Acacia Mangium,Bangkal,Tapuyi,Udling,Apple Guava,Abiu
,Translation,Translation,Translation,Translation,Translation,Translation,Translation,Translation,Translation,Translation,Translation,Translation,Translation
,"Planted_species_1(1,1)","Planted_species_2(1,1)","Planted_species_3(1,1)","Planted_species_4(1,1)","Planted_species_5(1,1)","Planted_species_6(1,1)","Planted_species_7(1,1)","Planted_species_8(1,1)","Planted_species_9(1,1)","Planted_species_10(1,1)","Planted_species_11(1,1)","Planted_species_12(1,1)","Planted_species_13(1,1)"
0,33,NaN,44,33,NaN,22,NaN,66,NaN,NaN,NaN,NaN,22
1,45,NaN,45,113,NaN,45,45,115,NaN,NaN,NaN,NaN,45
2,16,16,32,46,NaN,16,NaN,46,15,15,15,NaN,16
3,272,217,272,109,NaN,54,NaN,109,54,110,109,NaN,54
4,19,13,20,32,NaN,13,NaN,32,NaN,NaN,NaN,NaN,NaN

In [20]:
planted_species_with_id=concatenate_id_and_species(first_three_columns,planted_species)
planted_species_with_id.head()

,id,Row in Raw data Mon 1,Row in raw data monitoring 2,Soursup,Jackfruit,Rambutan,Bakan,Durian,Lanzones,Arbol,Acacia Mangium,Bangkal,Tapuyi,Udling,Apple Guava,Abiu
,id,raw_data_row_mon1,raw_data_row_Mon2,"Planted_species_1(1,1)","Planted_species_2(1,1)","Planted_species_3(1,1)","Planted_species_4(1,1)","Planted_species_5(1,1)","Planted_species_6(1,1)","Planted_species_7(1,1)","Planted_species_8(1,1)","Planted_species_9(1,1)","Planted_species_10(1,1)","Planted_species_11(1,1)","Planted_species_12(1,1)","Planted_species_13(1,1)"
0,1,3,12,33,NaN,44,33,NaN,22,NaN,66,NaN,NaN,NaN,NaN,22
1,2,4,NaN,45,NaN,45,113,NaN,45,45,115,NaN,NaN,NaN,NaN,45
2,3,5,7,16,16,32,46,NaN,16,NaN,46,15,15,15,NaN,16
3,4,6,27,272,217,272,109,NaN,54,NaN,109,54,110,109,NaN,54
4,5,7,18,19,13,20,32,NaN,13,NaN,32,NaN,NaN,NaN,NaN,NaN

### Extract M1 species

In [21]:
def get_m1_species(df):
    index_begin_m1=dataframe_total_cleaned.columns.get_loc(('Monitoring 1', 'Technician name', "Translation", "Technician_name_parcel(1)"))
    index_end_m1=dataframe_total_cleaned.columns.get_loc(('Monitoring 1', 'Total replanted trees at mon 1', "Translation", ""))
    df_m1_species = dataframe_total_cleaned.iloc[:, index_begin_m1+1:index_end_m1]
    df_m1_species.columns = df_m1_species.columns.droplevel(0) # get every species from monitoring m1

    df_replanted_m1 = df_m1_species.iloc[:, :int(len(df_m1_species.columns)/2)] # get replanted m1 species by splitting the dataframe by half
    df_living_m1 = df_m1_species.iloc[:, int(len(df_m1_species.columns)/2):]
    return df_replanted_m1,df_living_m1

In [22]:
replanted_m1,living_m1=get_m1_species(dataframe_total_cleaned)

In [23]:
replanted_m1_with_id=concatenate_id_and_species(first_three_columns,replanted_m1)
replanted_m1_with_id.head()

,id,Row in Raw data Mon 1,Row in raw data monitoring 2,Soursup,Jackfruit,Rambutan,Bakan,Durian,Lanzones,Arbol,Acacia Mangium,Bangkal,Tapuyi,Udling,Apple Guava,Abiu
,id,raw_data_row_mon1,raw_data_row_Mon2,"Replanted_species_1(1,1)","Replanted_species_2(1,1)","Replanted_species_3(1,1)","Replanted_species_4(1,1)","Replanted_species_5(1,1)","Replanted_species_6(1,1)","Replanted_species_7(1,1)","Replanted_species_8(1,1)","Replanted_species_9(1,1)","Replanted_species_10(1,1)","Replanted_species_11(1,1)","Replanted_species_12(1,1)","Replanted_species_13(1,1)"
0,1,3,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,6,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,7,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
living_m1_with_id=concatenate_id_and_species(first_three_columns,living_m1)
living_m1_with_id.head()

,id,Row in Raw data Mon 1,Row in raw data monitoring 2,Soursup,Jackfruit,Rambutan,Bakan,Durian,Lanzones,Arbol,Acacia Mangium,Bangkal,Tapuyi,Udling,Apple Guava,Abiu
,id,raw_data_row_mon1,raw_data_row_Mon2,"Monitoring_1_species_1(1,1)","Monitoring_1_species_2(1,1)","Monitoring_1_species_3(1,1)","Monitoring_1_species_4(1,1)","Monitoring_1_species_5(1,1)","Monitoring_1_species_6(1,1)","Monitoring_1_species_7(1,1)","Monitoring_1_species_8(1,1)","Monitoring_1_species_9(1,1)","Monitoring_1_species_10(1,1)","Monitoring_1_species_11(1,1)","Monitoring_1_species_12(1,1)","Monitoring_1_species_13(1,1)"
0,1,3,12,30,0,41,28,0,22,0,59,0,0,0,0,20
1,2,4,NaN,41,0,45,96,0,45,40,111,0,0,0,0,43
2,3,5,7,15,16,30,40,0,13,0,37,12,13,11,0,13
3,4,6,27,255,192,254,96,0,49,0,93,48,101,99,0,50
4,5,7,18,14,13,18,26,0,13,0,28,0,0,0,0,0

### Extract M2 species

In [25]:
def get_m2_species(df):
    index_begin_m2=dataframe_total_cleaned.columns.get_loc(('Monitoring 2', 'Technician name', "Translation", "Technician_name_parcel(1)"))
    index_end_m2=dataframe_total_cleaned.columns.get_loc(('Monitoring 2', 'Total replanted trees at mon 2', "Translation", ""))
    df_m2_species = dataframe_total_cleaned.iloc[:, index_begin_m2+1:index_end_m2]
    df_m2_species.columns = df_m2_species.columns.droplevel(0) # get every species from monitoring m2

    df_replanted_m2 = df_m2_species.iloc[:, :int(len(df_m2_species.columns)/2)] # get replanted m2 species by splitting the dataframe by half
    df_living_m2 = df_m2_species.iloc[:, int(len(df_m2_species.columns)/2):]
    return df_replanted_m2,df_living_m2

In [26]:
replanted_m2,living_m2=get_m2_species(dataframe_total_cleaned)

In [27]:
replanted_m2_with_id=concatenate_id_and_species(first_three_columns,replanted_m2)
replanted_m2_with_id.head()

,id,Row in Raw data Mon 1,Row in raw data monitoring 2,Soursup,Jackfruit,Rambutan,Bakan,Durian,Lanzones,Arbol,Acacia Mangium,Bangkal,Tapuyi,Udling,Apple Guava,Abiu
,id,raw_data_row_mon1,raw_data_row_Mon2,"Replanted_M2_species_1(1,1)","Replanted_M2_species_2(1,1)","Replanted_M2_species_3(1,1)","Replanted_M2_species_4(1,1)","Replanted_M2_species_5(1,1)","Replanted_M2_species_6(1,1)","Replanted_M2_species_7(1,1)","Replanted_M2_species_8(1,1)","Replanted_M2_species_9(1,1)","Replanted_M2_species_10(1,1)","Replanted_M2_species_11(1,1)","Replanted_M2_species_12(1,1)","Replanted_M2_species_13(1,1)"
0,1,3,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,4,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5,7,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,6,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,7,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
living_m2_with_id=concatenate_id_and_species(first_three_columns,living_m2)
living_m2_with_id.head()

,id,Row in Raw data Mon 1,Row in raw data monitoring 2,Soursup,Jackfruit,Rambutan,Bakan,Durian,Lanzones,Arbol,Acacia Mangium,Bangkal,Tapuyi,Udling,Apple Guava,Abiu
,id,raw_data_row_mon1,raw_data_row_Mon2,"Monitoring_2_species_1(1,1)","Monitoring_2_species_2(1,1)","Monitoring_2_species_3(1,1)","Monitoring_2_species_4(1,1)","Monitoring_2_species_5(1,1)","Monitoring_2_species_6(1,1)","Monitoring_2_species_7(1,1)","Monitoring_2_species_8(1,1)","Monitoring_2_species_9(1,1)","Monitoring_2_species_10(1,1)","Monitoring_2_species_11(1,1)","Monitoring_2_species_12(1,1)","Monitoring_2_species_13(1,1)"
0,1,3,12,30,0,40,25,0,20,0,52,0,0,0,0,20
1,2,4,NaN,39,NaN,55,96,NaN,45,40,110,NaN,NaN,NaN,NaN,40
2,3,5,7,15,16,32,40,0,13,0,37,12,13,11,0,13
3,4,6,27,240,183,252,89,0,42,0,87,41,96,90,0,50
4,5,7,18,14,13,18,26,0,13,0,28,0,0,0,0,0

## Write to excel

In [70]:
# https://stackoverflow.com/questions/70617982/how-to-set-column-headers-to-the-first-row-in-pandas-dataframe
# https://stackoverflow.com/questions/31328861/replacing-header-with-top-row

def make_second_header_row_as_first_data_row (df):
    """ To simplify save to excel, we transform the second level of header row as a data row.
    Because pd.to_excel does not support MultiIndex dataframes (with multiple header levels).
    """
    flattened_headers_df = df.T.reset_index().T.reset_index(drop=True)
    new_header = flattened_headers_df.iloc[0] #grab the first row for the header
    flattened_headers_df = flattened_headers_df[1:] #take the data less the header row
    flattened_headers_df.columns = new_header #set the header row as the df header
    return flattened_headers_df

In [71]:
output_file=r"File_with_splitted_sheets.xlsx"

planted_species_with_id_excel = make_second_header_row_as_first_data_row (planted_species_with_id)
replanted_m1_with_id_excel = make_second_header_row_as_first_data_row (replanted_m1_with_id)
living_m1_with_id_excel = make_second_header_row_as_first_data_row (living_m1_with_id)
replanted_m2_with_id_excel = make_second_header_row_as_first_data_row (replanted_m2_with_id)
living_m2_with_id_excel = make_second_header_row_as_first_data_row (living_m2_with_id)

with pd.ExcelWriter(output_file) as writer:
    planted_species_with_id_excel.to_excel(writer, sheet_name='Colonne_Plantation', startrow=2, index=False)
    replanted_m1_with_id_excel.to_excel(writer, sheet_name='Niveau1_M1', startrow=2, index=False)
    living_m1_with_id_excel.to_excel(writer, sheet_name='Niveau2_M1', startrow=2, index=False)
    replanted_m2_with_id_excel.to_excel(writer, sheet_name='Niveau1_M2', startrow=2, index=False)
    living_m2_with_id_excel.to_excel(writer, sheet_name='Niveau2_M2', startrow=2, index=False)